@page "/formentry"

@using TestingWASM.Shared.Data.Entities
@using TestingWASM.Services
@using TestingWASM.ViewModels 
@using System.Linq
@using System.Collections.Generic
 

@inject IFormClientService service

@if (DataLoaded)
{
    <div>
        @*<PageHeader IconClass="fas fa-clipboard-list">
            <Title><span class="fw-300">@Form.FormEntry.FormTitle</span></Title>
        </PageHeader>*@

        <CascadingValue Name="IsFormEntryReadOnly" Value=@IsFormEntryReadOnly>
            @switch (FormType)
            {
                case "1":

                case "2":
                case "3":
                case "4":
                case "5":
                    <div>
                        <div IconClass="fas fa-clipboard-list">
                            <div><span class="fw-300">@FormTitle</span></div>
                        </div>
                        <div class="panel-content">
                           
                                    <div class="assessmentSection">
                                        @foreach (var question in FormQuestions.OrderBy(x => x.Sequence))
                                        {
                                            var local = question;
                                            <FormEntryQuestion Question="local"></FormEntryQuestion>
                                        }
                                    </div>
                              

                        </div>
                        </div>
                        break;
                        default:
                        break;
                        }
                </CascadingValue>
    </div>

}

<style>
    .assessmentQuestion {
        padding: 0.75em 0;
    }

        .assessmentQuestion:nth-last-child(even) {
            background-color: #9FCB3D1C;
        }

        .assessmentQuestion .assessmentQuestion {
            margin: 0 0 0.25em;
        }

    .assessmentResponse label {
        cursor: pointer;
    }

    p.readOnlyQuestion {
        margin: 0 0 0.25em 0;
    }

    .readOnlyResponse {
        margin: 0 0 0 1.5em;
        padding: 0;
    }

    .validation-message {
        font-size: .6875rem;
        margin-top: .325rem;
        color: red;
        font-weight: 500;
    }
</style>

@code
{

    [Parameter] public string FormType { get; set; } = "1";

    private List<TestingWASM.Services.FormEntryResponse.Types.FormQuestionEntries.Types.FormQuestion> FormQuestions;
    private bool DataLoaded { get; set; } = false;
    private bool IsFormEntryReadOnly { get; set; } = false;
    private string FormTitle { get; set; }



    protected override async Task OnInitializedAsync()
    {
        if (!DataLoaded)
        {
           

            var assessmentTask = await service.GetForm(1);


            // Form.FormEntry.FormDate = string.IsNullOrEmpty(assessmentTask.FormDate.ToString()) ? null : assessmentTask.FormDate.ToDateTime();
            FormTitle = assessmentTask.FormTitle;
           
            FormQuestions = assessmentTask.FormQuestionEntries.Select(a => a.FormQuestion).ToList();

            DataLoaded = true;
        }
    }
}