################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkingWithGRPCExampleOne/.vs
/WorkingWithGRPCExampleOne/TestWASM2/Client/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/TestWASM2/Client/obj
/WorkingWithGRPCExampleOne/TestWASM2/Server/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/TestWASM2/Server/obj
/WorkingWithGRPCExampleOne/TestWASM2/Shared/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/TestWASM2/Shared/obj
/WorkingWithGrpcExampleTwo/.vs/TestingWASM
/WorkingWithGrpcExampleTwo/GrpcService1/bin/Debug/net5.0
/WorkingWithGrpcExampleTwo/GrpcService1/obj
/WorkingWithGrpcExampleTwo/TestingWASM/Client/obj
/WorkingWithGrpcExampleTwo/TestingWASM/Server/obj
/WorkingWithGrpcExampleTwo/TestingWASM/Shared/obj
/WorkingWithGrpcExampleTwo/GrpcConsoleClient/bin/Debug/net5.0
/WorkingWithGrpcExampleTwo/GrpcConsoleClient/obj
/WorkingWithGrpcExampleTwo/TestingWASM/Client/bin/Debug/net5.0
/WorkingWithGrpcExampleTwo/TestingWASM/Server/bin
/WorkingWithGrpcExampleTwo/TestingWASM/Shared/bin
/WorkingWithGrpcExampleTwo/TestWASMGrpc/bin/Debug/net5.0
/WorkingWithGrpcExampleTwo/TestWASMGrpc/obj
/WorkingWithGrpcExampleTwo/TestWASM.Console/bin/Debug/net5.0
/WorkingWithGrpcExampleTwo/TestWASM.Console/obj
/WorkingWithGrpcExampleTwo/TestWASMGrpc/.vs/TestWASMGrpc/DesignTimeBuild
/WorkingWithGrpcExampleTwo/TestWASMGrpc/.vs/TestWASMGrpc/v16/.suo
/WorkingWithGrpcExampleTwo/Example2Tests/bin/Debug/net5.0
/WorkingWithGrpcExampleTwo/Example2Tests/obj
/WorkingWithGRPCExampleOne/Example1/Client/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/Example1/Client/obj
/WorkingWithGRPCExampleOne/Example1/Server/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/Example1/Server/obj
/WorkingWithGRPCExampleOne/Example1/Shared/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/Example1/Shared/obj
/WorkingWithGrpcExampleTwo/.vs/Example2
/WorkingWithGRPCExampleOne/Example1/SecureTokenService/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/Example1/SecureTokenService/obj
/WorkingWithGRPCExampleOne/Ex1GrpcService/obj
/WorkingWithGRPCExampleOne/ExOneClient/obj
/WorkingWithGRPCExampleOne/Ex1GrpcService/bin/Debug/net5.0
/WorkingWithGRPCExampleOne/ExOneClient/bin/Debug/net5.0
