<div class="subheader">
    <h3 class="subheader-title">
        <i class="subheader-icon @IconClass"></i> @Title
        <small>
            @SubTitle
        </small>
    </h3>
</div>

@code {
    [Parameter] public string IconClass { get; set; } = "fas fa-chart-area";
    [Parameter] public RenderFragment Title { get; set; }
    [Parameter] public RenderFragment SubTitle { get; set; }
}
