<div class="col-sm-12">
    <span class="col-form-label" style="padding:0px;" name="@Question.FormQuestionId">@Question.Question</span>
</div>

<div class="col-sm-12" id="Comment_@Question.FormQuestionId.ToString()">
    <input type="date" name="@Question.FormQuestionId" @bind="ResponseValue" class="w-75 form-control" />
</div>

@code
{

    [Parameter]
    public TestingWASM.Services.v2.FormEntryResponse.Types.FormQuestion Question { get; set; }

    [Parameter]
    public EventCallback<TestingWASM.Services.v2.FormEntryResponse.Types.FormQuestion> QuestionChanged { get; set; }

    public DateTime? ResponseValue
    {
        get
        {
            if (string.IsNullOrEmpty(Question.FormSection))
                return null;
            else
                return DateTime.Parse(Question.FormSection);
        }
        set
        {
            if (value.HasValue)
                Question.ResponseValue = value.ToString();
            else
                Question.FormSection = null;

            QuestionChanged.InvokeAsync(Question);
        }
    }

    async Task UpdateResponse(string response)
    {
        Question.ResponseValue = response;
        await QuestionChanged.InvokeAsync(Question);
    } }