<div class="col-sm-12">
    <span class="col-form-label" style="padding:0px;" name="@Question.FormQuestionId">@Question.Question</span>
</div>

<div class="col-sm-12" id="Comment_@Question.FormQuestionId.ToString()">
    <input type="number" name="@Question.FormQuestionId" @bind="ResponseValue" class="w-100 form-control" />
    
</div>

@code
{ 
    
    public int ResponseValue
    {
        get
        {
            if (!string.IsNullOrEmpty(Question.ResponseValue))
                return int.Parse(Question.ResponseValue);
            else
                return 1;
        }
        set
        {
           
                Question.ResponseValue = value.ToString();
            QuestionChanged.InvokeAsync(Question);
        }
    }

    [Parameter]
    public TestingWASM.Services.v2.FormEntryResponse.Types.FormQuestion Question { get; set; }

    [Parameter]
    public EventCallback<TestingWASM.Services.v2.FormEntryResponse.Types.FormQuestion> QuestionChanged { get; set; }

    async Task UpdateResponse(string response)
    {
        Question.ResponseValue = response;
        await QuestionChanged.InvokeAsync(Question);
    } 
    
}