<div class="col-sm-12">
    <span class="col-form-label" style="padding:0px;" name="@Question.QuestionId">@Question.Question.Text</span>
</div>

<div class="col-sm-12" id="Comment_@Question.QuestionId.ToString()">
    <input type="text" name="@Question.QuestionId" @bind="ResponseValue" class="w-100 form-control" />
    
</div>

@code
{
    public string ResponseValue
    {
        get
        {
            return Question.FormSection;
        }

        set
        {
            Question.FormSection = value;
            QuestionChanged.InvokeAsync(Question);
        }
    }

    [Parameter]
    public TestingWASM.Services.FormEntryResponse.Types.FormQuestionEntries.Types.FormQuestion Question { get; set; }

    [Parameter]
    public EventCallback<TestingWASM.Services.FormEntryResponse.Types.FormQuestionEntries.Types.FormQuestion> QuestionChanged { get; set; }

    async Task UpdateResponse(string response)
    {
        Question.FormSection = response;
        await QuestionChanged.InvokeAsync(Question);
    }
}