<div class="col-sm-12">
    <span class="col-form-label" style="padding:0px;" name="@Question.FormQuestionId">@Question.Question</span>
</div>

<div class="col-sm-12" id="Comment_@Question.FormQuestionId.ToString()">
    <input type="text" name="@Question.FormQuestionId" @bind="ResponseValue" class="w-100 form-control" />
</div>

@code
{
    public string ResponseValue
    {
        get
        {
            return Question.ResponseValue;
        }

        set
        {
            Question.ResponseValue = value;
            QuestionChanged.InvokeAsync(Question);
        }
    }

    [Parameter]
    public TestingWASM.Services.v2.FormEntryResponse.Types.FormQuestion Question { get; set; }

    [Parameter]
    public EventCallback<TestingWASM.Services.v2.FormEntryResponse.Types.FormQuestion> QuestionChanged { get; set; }

    async Task UpdateResponse(string response)
    {
        Question.ResponseValue = response;
        await QuestionChanged.InvokeAsync(Question);
    }
}