<div class="panel" @attributes="PanelAttributes">
    <div class="panel-hdr">
        <h4>
            @PanelHeader
        </h4>
        <div class="panel-toolbar">
            @if (Collapsable)
            {
                <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            }
        </div>
    </div>
    <div class="panel-container collapse show">
        <div class="panel-content">
            @PanelBody
        </div>
        @if (ShowFooter)
        {
            <div class="panel-content bg-faded border-faded border-left-0 border-right-0 border-bottom-0">
                @PanelFooter
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public bool Collapsable { get; set; } = true;
    // There is currently no good way to check if the footer has content and dynamically show it.
    // This is slightly hacky, but there is a feature request that may fix this eventually.
    // https://github.com/dotnet/aspnetcore/issues/10270
    [Parameter] public bool ShowFooter { get; set; } = false;
    [Parameter] public RenderFragment PanelHeader { get; set; }
    [Parameter] public RenderFragment PanelBody { get; set; }
    [Parameter] public RenderFragment PanelFooter { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> PanelAttributes { get; set; }
}
