<div class="col-sm-12">
    <p class="readOnlyQuestion">
        @Question.Question
    </p>

    <p class="readOnlyResponse">
        @(Question.ResponseOptions.Any(x => x.ShortDescription == Question.ResponseValue) ? Question.ResponseOptions.FirstOrDefault(x => x.ShortDescription == Question.ResponseValue).LongDescription : GrpcServiceForWASM.Core.ApplicationConstants.NotSpecified)
    </p>
</div>

@code
{
    [Parameter]
    public GrpcServiceForWASM.Core.DTOs.FormQuestionDTO Question { get; set; }
}