<div class="col-sm-12">
    <span class="col-form-label" style="padding:0px;" name="@Question.FormQuestionId">@Question.Question</span>
</div>

<div class="col-sm-12" id="Comment_@Question.FormQuestionId.ToString()">
    <InputText name="@Question.FormQuestionId" @bind-Value="ResponseValue" class="w-100 form-control" />
    <ValidationMessage For="@(() => Question.ResponseValue)" />
</div>

@code
{
    public string ResponseValue
    {
        get
        {
            return Question.ResponseValue;
        }

        set
        {
            Question.ResponseValue = value;
            QuestionChanged.InvokeAsync(Question);
        }
    }

    [Parameter]
    public GrpcServiceForWASM.Core.DTOs.FormQuestionDTO Question { get; set; }

    [Parameter]
    public EventCallback<GrpcServiceForWASM.Core.DTOs.FormQuestionDTO> QuestionChanged { get; set; }

    async Task UpdateResponse(string response)
    {
        Question.ResponseValue = response;
        await QuestionChanged.InvokeAsync(Question);
    }
}